*.class
*.log

# sbt specific
.cache
.history
.lib/
lib/*
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

#Unitex C++ // The source code is available from the Unitex Website
Unitex-C++/*
